# Project-1
## Using Amazon Fine Food Reviews Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
ds_food = pd.read_csv("retail.csv")

In [6]:
ds_food

,Transaction_ID,Customer_ID,Product,Category,Price,Quantity,Total_Amount
0,1000,2102,Laptop,Accessories,905.01,2.0,1810.02
1,1001,2435,Speaker,Home Appliances,796.35,2.0,1592.70
2,1002,2860,TV,Home Appliances,1854.05,1.0,1854.05
3,1003,2270,Smartwatch,Accessories,NaN,4.0,5829.08
4,1004,2106,Speaker,Home Appliances,659.82,2.0,1319.64
...,...,...,...,...,...,...,...
95,1095,2821,Laptop,Accessories,1953.46,4.0,7813.84
96,1096,2476,Speaker,Electronics,827.96,1.0,827.96
97,1097,2702,Headphones,Accessories,NaN,4.0,303.08
98,1098,2401,Camera,Home Appliances,696.69,NaN,2786.76
99,1099,2729,Phone,Accessories,1272.36,3.0,3817.08

In [7]:
ds_food.isnull().sum()

Transaction_ID     0
Customer_ID        0
Product            0
Category           0
Price             20
Quantity          18
Total_Amount       0
dtype: int64